<ion-header>
  <ion-toolbar>
    <ion-title>
      Magic 8 Ball
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      Ask a question
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="question" placeholder="Your yes or no question here"></ion-input>
      </ion-item>
      <ion-button (click)="shake()">Shake</ion-button>
      <ion-item>
        <ion-label>Answer:</ion-label>
        <ion-input [(ngModel)]="answer" readonly></ion-input>
      </ion-item>
    </ion-card-content>

  </ion-card>
</ion-content>